#header {
	margin-right: 30px;
	font-color: #222;
	font-size: 18px;
	font-family: arial, sans-serif;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.toplinks {
	margin: 10px;

}
#signin {
	margin-left: 15px;
}

#menu {
	margin-left: 15px;
}

#section {
	align-items: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	border: solid black;
}

#footer .bottomlinks {
	font-family: arial, sans-serif;
	display: flex;
	justify-content: flex-start;
	border: solid black;
	margin: 10px ;
	flex-direction: row;
}

#span {
	display: flex;
	justify-content: flex-end;


}